#wood_login
  %h1 Log In
  %canvas#wood_bull_clip{:width => "63", :height => "71"}
  - form_tag session_path do
    .sign_in_inputs
      = label_tag 'login', "User Name"
      %br/
      = text_field_tag 'login', @login, :class => "text"
    .sign_in_inputs
      = label_tag 'password', "Password"
      %br/
      = password_field_tag 'password', nil, :class => "text"
    .sign_in_inputs
      = label_tag 'remember_me', 'Remember me'
      = check_box_tag 'remember_me', '1', @remember_me
    .help= link_to "Help?", forgot_password_path
  %canvas#log_in_blue{:width => "162", :height => "63", :class => "wood_canvas"}
  %canvas#sign_up_blue{:width => "172", :height => "43", :class => "wood_canvas"}
  .sign_up= link_to "Sign up", signup_path



#welcome
  %div{:class => "major_title"}
    .blue Welcome
  %div{:class => "minor_title"}
    .black Unreliable friends or just unreliable memory?
    .blue Let Bill keep tally for you on who owes what.
  .yelly= image_tag "yelly/welcome_clipboard.gif"
