%div#friend
  %h1
    = "Welcome #{@friend.name}"
  %div.label
    You owe are owed:
    %div.tally
      = number_to_currency @friend.credit
  %div.label
    You owe
    %div.tally
      = number_to_currency @friend.debt
  %div.label
    Money In Transit:
    %div.tally
      = number_to_currency @friend.pending

  %br
  = "You owe #{@friend.creator.name}:"
  %table
    %tr
      %th Created On
      %th Amount
      %th To
      %th Description
      %th Due
      %th Status
      %th &nbsp;
    = render :partial => "line_item", :collection => @friend.line_items

  %br
  = "#{@friend.creator.name.capitalize} owes you:"
  %table
    %tr
      %th Created On
      %th Amount
      %th From
      %th Description
      %th Due
      %th Status
      %th &nbsp;
    = render :partial => "transaction", :collection => @friend.transactions

