%div#friend
  %h1
    = "Details for #{@friend.name}"
  %div.label
    Money In:
    %div.tally
      = number_to_currency @friend.money_in
  %div.label
    Money Out:
    %div.tally
      = number_to_currency @friend.money_out

  = render :partial => "line_item", :collection => @friend.line_items
