%div#left_panel
  %p
    = link_to "Accounts", accounts_path(:force => true)
  %p
    = link_to "Friends", :friends
  %p
    = link_to "Events", :events
  %p
    = link_to "Line Items", :line_items
  %p
    = link_to "Actors", :actors
