:javascript

  $(document).ready(function(){
    $("#event_occured_on").datepicker();
    var line_item_counter = 0;

    var actor_name_autocomplete = { source:'/ac/actors_name' };
    $("#actor_name").autocomplete(actor_name_autocomplete);

    var friend_name_autocomplete = { source:'/ac/friends_name' };
    $(".event_line_items_friend").autocomplete(friend_name_autocomplete);

    $("#line_items_button").toggle(function() {
      $("#line_items_container").slideToggle("slow");
      $("#line_items_button > a").text("Hide Transaction Details");
      },
      function() {
      $("#line_items_container").slideToggle("slow");
      $("#line_items_button > a").text("Show Transaction Details");
    });

      $("div.add_line_item").click(function() {
        line_item_counter++

        $("#line_items_container > #line_items").append(
          "<p>Amount <input id=\"line_items_" + line_item_counter + "_amount\" name=\"line_items[" + line_item_counter + "][amount]\" type=\"text\" />" +
            " Friend <input id=\"line_items_" + line_item_counter + "_friend\" name=\"line_items[" + line_item_counter + "][friend]\" type=\"text\" class=\"event_line_items_friend\"/>" +
              " paid on <input id=\"line_items_" + line_item_counter + "_paid_on\" name=\"line_items[" + line_item_counter + "][paid_on]\" type=\"text\" /></p>"
          );

      $(".event_line_items_friend").autocomplete(friend_name_autocomplete);
      });

  });


%div#new_event_container{:class => "new container event"}
  %h1 Create a new bill
  - form_for @event do |f|
    %div
      = f.error_messages
    %div
      = f.label :amount
      = f.text_field :amount, :size => 3
    %div
      = f.label :actor_id, 'Event'
      = text_field_tag "actor[name]", @last_entered_name
    %div
      = f.label :description, 'Additional notes'
      = f.text_field :description
      = f.hidden_field :account_id

    %div
      = f.label :occured_on, 'Date'
      = f.text_field :occured_on
    %div
      = render :partial => "line_item_details"

    %div
      = submit_tag

