%div#new_friend_container{:class => "new container friend"}
  %h1
    Update for
    = @friend.name
  - form_for @friend do |f|
    = f.error_messages
    %div
      = f.label :name
      = f.text_field :name
    %div
      = f.label :email
      = f.text_field :email_address
    %div
      = submit_tag

