#greybox{:onclick => "close_pop_over()"}

#quick_add
  #close_button
    = link_to_function(image_tag("delete-icon-small.png"), "close_pop_over()")
  #heading
    Quick Add
  %div#form_container

    .submit_and_tick_container
      %div#quick_add_submit
        = link_to_remote(image_tag("right-icon.png", :border => 0),         |
            :url => {:controller => :transactions, :action => :understand}, |
            :with => "'input=' + $('#observe_me').val()",                   |
            :success => "show_tick_and_fade_out();",                        |
            :failure => "shake();",                                         |
            :before => "hide_submit();"                                     |
            ) |
      %div#tick
        = image_tag "tick-icon.png"
      %div#block_icon
        = image_tag "block-icon.png"
      %div#big_spinner
        = image_tag "big_spinner.gif"

    %div#text_add_container
      %div Try to enter something below, like:
      #hot_tip.light_red
        Phil owes me $1.29 for "band practice"
      %input{:type => "text",                                                     |
              :class => "light_gray",                                             |
              :id => "observe_me",                                                |
              :value => "I owe steve $50 for vuvuzela lessons",                   |
              :onfocus => "$(this).removeClass(\"light_gray\");if ($(this).val() == 'I owe steve $50 for vuvuzela lessons'){ $(this).val(''); }" |
            }                                                                     |
