%td= link_to(line_item_details.from.name, friend_path(:id => line_item_details.from.id))
%td= number_to_currency line_item_details.amount
%td= line_item_details.transaction.description
%td= I18n.l(line_item_details.due.try(:to_date) || line_item_details.transaction.due.to_date) if line_item_details.transaction.due
%td= line_item_state(line_item_details, "line_item_#{line_item_details.id}")

