%tr{:class => cycle("even","odd"), :id => "tr_trans_#{transaction.id}"}
  %td= date_style(transaction.created_at)
  %td{:alt => "#{transaction.steps.map{|x| x.from.name}.join(", ")} -&gt; #{transaction.to.name}", :title => "#{transaction.steps.map{|x| x.from.name}.join(", ")} -&gt; #{transaction.to.name}"}
    = link_to(transaction.from.try(:name) || transaction.steps.first.from.name, friend_path(:id => transaction.to))
    = "(+#{transaction.steps.length - 1})" if transaction.steps.length > 1
    \-&gt;
    = link_to(transaction.to.name, friend_path(:id => transaction.to))
  %td= transaction.description || "-"
  %td= number_to_currency transaction.amount
  %td= I18n.l(transaction.due.to_date) if transaction.due
  %td{:id => "state_link_#{transaction.id}"}
    = render :partial => 'transactions/state', :locals => {:transaction => transaction}

  %td= link_to("details", edit_transaction_path(:id => transaction.id))

