- @transaction = transaction

%tr{ :class => cycle('even', 'odd'), :id => id }
  %td= created_at
  %td{ :alt => full_transaction_title, :title => full_transaction_title }
    = short_transaction_title
  %td= description
  %td= currency
  %td= due
  %td{:id => "state_link_#{@transaction.id}"}
    = render :partial => 'transactions/state'
  %td= link_to("details", edit_transaction_path(:id => @transaction.id))

