#user_control_panel
  %canvas#username{:width => "190", :height => "50"}
  = link_to "Log Out", logout_path

%div
  %div#add_transaction_container
    %canvas#add_transaction{:width => "190", :height => "60"}
    %div
      = link_to_function(image_tag("plus-icon-small.png", :border => 0) + " (simple)", "popover()")
    %div
      %a{:href => new_transaction_path}
        = image_tag("plus-icon-small.png", :border => 0)
        (advanced)

  #main_title_and_clip
    %div
      %canvas#bull_clip_main{:width => "70", :height => "68"}
    %div
      %canvas#main_title{:width => "250", :height => "68"}

  #div#transaction.rounded
    %h1 Show a transaction
    - form_for @transaction, :controller => :transaction, :action => :update do |f|

      %div
        = label_tag :amount, 'Amount'
        = text_field_tag 'amount', @transaction.amount, :size => 3, :class => "short"
      %div
        = label :due, 'Date'
        = text_field_tag "due", @transaction.due, :class => "short"
      %div
        = label :description, 'Additional notes'
        = text_field_tag "description", @transaction.description, :class => "long"
      %table{:cellpadding => "0", :cellspacing => "0", :border => "0", :id => "steps"}
        - counter = 0
        - f.fields_for :steps do |c|
          %tr{:id => "tr_trans_#{counter}"}
            %td{:width => "40%"}
              - if c.object == @transaction.steps.first
                = label_tag :to
                = text_field_tag "to", @transaction.to.name, {:disabled => true, :class => "short"}
                %div{:id => "state_link_#{@transaction.id}", :style => "margin-left: 70px;"}
                  = render :partial => 'transactions/state', :locals => {:transaction => @transaction}
              - else
                &nbsp;
            %td
              - if c.object == @transaction.steps.first
                = c.label :from
              - else
                = c.label :from, "... and"
              = c.text_field :from, :value => c.object.from.name, :class => "short"
              .icons
                = image_tag "plus-icon-small.png", :onclick => "add_a_new_line_item();"
                = image_tag "delete-icon-small.png", :onclick => "remove_a_new_line_item(#{counter});"
              %div{:id => "step_state_link_#{c.object.id}", :style => "margin-left: 70px;"}
                = render :partial => 'transactions/state', :locals => {:transaction => c.object}
          - counter += 1


      %div.buttons
        = submit_tag 'Update Transaction', :class => "submit"
    %div.buttons
      = button_to 'Delete Transaction', { :action => "delete", :id => @transaction.id }, :confirm => "Are you sure?", :method => :delete, :class => "delete"
    %a{:href => transactions_path} back

:javascript
  function doOnLoadThings() {
    draw_user_welcome('#{current_user.name}');
    draw_title('#{@transaction.try_harder(:description) || "Transaction"}');
    load_bull_clip_title();
    draw_left_panel("CONTROLS");
  }

= render :partial => 'transactions/add_and_remove_transaction'

