%div
  %div#add_transaction_container
    %canvas#add_transaction{:width => "190", :height => "60"}
    %div
      = link_to_function(image_tag("plus-icon-small.png", :border => 0) + " (simple)", "popover()")
    %div
      %a{:href => new_transaction_path}
        = image_tag("plus-icon-small.png", :border => 0)
        (advanced)

  #main_title_and_clip
    %div
      %canvas#bull_clip_main{:width => "70", :height => "68"}
    %div
      %canvas#main_title{:width => "250", :height => "68"}

  = render :partial => 'transactions/transaction_table', :object => @transaction

= render :partial => 'transactions/add_transaction'

:javascript
  function doOnLoadThings() {
    draw_user_welcome('#{current_user.name}');
    draw_title('#{@title.upcase}');
    load_bull_clip_title();
    draw_left_panel("ADD TRANSACTIONS");

  }

