#user_control_panel
  %canvas#username{:width => "190", :height => "50"}
  = link_to "Log Out", logout_path

#content2
  %div#add_transaction_container
    %h3 Add Transaction
    %div
      = link_to_function(image_tag("plus-icon-small.png", :border => 0) + " (simple)", "popover()")
    %div
      %a{:href => new_transaction_path}
        = image_tag("plus-icon-small.png", :border => 0)
        (advanced)

  #main_title_and_clip
    %div
      %canvas#bull_clip_main{:width => "70", :height => "68"}
    %div
      %canvas#main_title{:width => "250", :height => "68"}

  = render :partial => 'transactions/transaction_table', :object => @transaction

:javascript
  function popover() {
    $("#greybox").fadeIn("slow");
    $("#quick_add").fadeIn("slow");
    $("#quick_add").center();
  }

  function close_pop_over() {
    $("#greybox").fadeOut("slow");
    $("#quick_add").fadeOut("slow");
    $("#tick").hide();
  }

  function show_tick_and_fade_out() {
    $("#tick").fadeIn("slow");
    setTimeout('close_pop_over()', 1500)
  }

  function shake() {
    $("#quick_add").shake(2, 10, 400);
  }

#greybox{:onclick => "close_pop_over()"}

#quick_add
  #close_button
    = link_to_function(image_tag("delete-icon-small.png"), "close_pop_over()")
  #heading
    Quick Add
  %div#form_container
    %div Try to enter something below, like:

    %div#text_add_container
      %input{:type => "text",                                                     |
              :class => "light_gray",                                             |
              :id => "observe_me",                                                |
              :value => "I owe steve $50 for vuvuzela lessons",                   |
              :onfocus => "$(this).removeClass(\"light_gray\");if ($(this).val() == 'I owe steve $50 for vuvuzela lessons'){ $(this).val(''); }" |
            }                                                                     |
      %div#tick
        = image_tag "tick-icon-small.png"
      %div
        = link_to_remote("submit it", |
            :url => {:controller => :transactions, :action => :understand}, |
            :with => "'input=' + $('#observe_me').val()", |
            :success => "show_tick_and_fade_out();",      |
            :failure => "shake();"                        |
            ) |
