#user_control_panel
  %canvas#username{:width => "190", :height => "50"}
  = link_to "Log Out", logout_path

#content2
  %div#add_transaction_container
    %canvas#add_transaction{:width => "190", :height => "60"}
    %div
      = link_to_function(image_tag("plus-icon-small.png", :border => 0) + " (simple)", "popover()")
    %div
      %a{:href => new_transaction_path}
        = image_tag("plus-icon-small.png", :border => 0)
        (advanced)

  #main_title_and_clip
    %div
      %canvas#bull_clip_main{:width => "70", :height => "68"}
    %div
      %canvas#main_title{:width => "250", :height => "68"}

  = render :partial => 'transactions/transaction_table', :object => @transaction

= render :partial => 'transactions/add_transaction'

:javascript
    $(document).ready(function() {
    var canvas = document.getElementById("add_transaction");
    var ctx = canvas.getContext("2d");

    ctx.rotate(-1 * Math.PI / 180);
    ctx.globalAlpha = 1.0;
    ctx.save();
    ctx.fillStyle = "#2e2925";
    ctx.beginPath();
    ctx.moveTo(5, 8);
    ctx.lineTo(181, 7);
    ctx.lineTo(177, 38);
    ctx.lineTo(3, 42);
    ctx.lineTo(5, 8);
    ctx.closePath();
    add_shadow(ctx)
    ctx.fill();
    ctx.restore();
    ctx.font = "12pt hobo_std";
    ctx.save()
    ctx.fillStyle = "White";
    ctx.fillText("ADD TRANSACTIONS", 10, 30);

  });
