:javascript
  function remove_a_new_line_item(e) {
      $(e).parents("tr").remove();
  }

  function add_a_new_line_item() {
    last_element = $("#cock tr:last > td:last > input").attr("id");
    if (last_element.match(/transaction_steps_attributes_/g)) {
      counter = last_element.replace(/transaction_steps_attributes_(\d)_from/, "$1");
      counter = (counter * 1) + 1;

      $("#cock tr:last").after(
        "<tr><td>&nbsp;</td><td><label for=\"transaction_steps_attributes_" + counter + "_from\">... and</label>" + 
        "<input id=\"transaction_steps_attributes_" + counter + "_from\" name=\"transaction[steps_attributes][" + counter + "][from]\" type=\"text\" class=\"short ac_friend\"/>" +
        "<div class=\"icons\">" +
        "<img src=\"/images/delete-icon-small.png\" onclick=\"remove_a_new_line_item(this)\"></div>" +
        "</td></tr>"
        );

      var friend_name_autocomplete = { source:'/ac/friends_name' };
      $("#transaction_steps_attributes_" + counter + "_from").autocomplete(friend_name_autocomplete);
    }
  }


#user_control_panel
  %canvas#username{:width => "190", :height => "50"}
  = link_to "Log Out", logout_path

%div
  %div#add_transaction_container
    %canvas#add_transaction{:width => "190", :height => "60"}
    %div
      = link_to_function(image_tag("plus-icon-small.png", :border => 0) + " (simple)", "popover()")
    %div
      %a{:href => new_transaction_path}
        = image_tag("plus-icon-small.png", :border => 0)
        (advanced)

  #main_title_and_clip
    %div
      %canvas#bull_clip_main{:width => "70", :height => "68"}
    %div
      %canvas#main_title{:width => "250", :height => "68"}

  #div#transaction.rounded
    %h1 Create a new bill
    - form_for @transaction do |f|
      %div
        = f.error_messages
      %h2 Bill Split!
      %div
        = f.label :amount
        = f.text_field :amount, :size => 3, :class => "required short", :minlength => 1
      %div{:style => "display:none"}
        = f.label :description, 'Additional notes'
        = f.text_field :description, :class => "long"
      %div
        = f.label :due, 'Due'
        = f.text_field :due, :class => "short"
      %table{:cellpadding => "0", :cellspacing => "0", :border => "0", :id => "cock"}
        %tr
          %td
            = f.label :to
            = f.text_field :to, :minlength => 2, :class => "short required"
          %td
            = label_tag :transaction_steps_attributes_0_from, "From"
            = text_field_tag "transaction[steps_attributes][0][from]", nil, :id => "transaction_steps_attributes_0_from", :class => "short ac_friend required"
            %div{:onclick => "add_a_new_line_item();", :class => "add_friends"}
              = image_tag "plus-icon-small.png"
      %div
        = submit_tag

:javascript
  function doOnLoadThings() {
    draw_user_welcome('#{current_user.name}');
    draw_title('TRANSACTION');
    load_bull_clip_title();
    draw_left_panel("CONTROLS");

    $("#new_transaction").validate({
      rules: {
        "transaction[amount]": {
          required: true,
          number: true
          }
      }
    });
  }

