%h1 Show a transaction
%p
  = label_tag :amount, 'Amount'
  = text_field_tag 'amount', @transaction.amount, :size => 3
%p
  = label :actor, 'Actor'
  = text_field_tag 'actor[name]', @transaction.actor.name, :disabled => true
%p
  = label :description, 'Additional notes'
  = text_field_tag "description", @transaction.description, :disabled => true 

%p
  = label :occured_on, 'Date'
  = text_field_tag "occured_on", @transaction.occured_on, :disabled => true 

%a{:href => transactions_path} back


