:javascript
  var timeout_t;

  function purge_values() {
    $("#transaction_to").val("");
    $("#transaction_from").val("");
    $("#transaction_amount").val("");
    $("#transaction_description").val("");
    $("#transaction_amount").val("");
  };

  function are_you_watching(e) {
    text_input = $(e).val()
    clearTimeout(timeout_t);
    timeout_t = setTimeout("shootAjax(text_input)", 1000);
  }

  function shootAjax(text_input) {
    $.post("/ut/understand_text", { input: text_input },
    function(data) {
      if (data.amount) {
          $("#transaction_from").val(data.in_debt);
          $("#transaction_to").val(data.in_credit);
          if (data.unknown_in_debt) {
            $("#transaction_from").val(data.unknown_in_debt);
            }
          if (data.unknown_in_credit) {
            $("#transaction_to").val(data.unknown_in_credit);
            }
          $("#transaction_amount").val(data.amount.replace(/[^0-9\.]/,""));
          $("#transaction_description").val(data.description);
          $("#tick").show();
          $("#full_input").val(text_input)
      } else {
          purge_values();
          $("#tick").hide();
      }
    }, "json");
  }

  $(document).ready(function(){
    $("#new_transaction").validate({
      errorLabelContainer: "#messageBox",
      wrapper: "li",
      rules: {
        "transaction[to]": {
          required: true
        },
        "transaction[amount]": {
        required: true
        },
        "transaction[from]": {
        required: true
        },
        "transaction[amount]": {
        required: true
        }
      },
      messages: {
        "transaction[to]": {
          required: "You need to specify who gets the money"
        },
        "transaction[amount]": {
        required: "You need to say how much money was exchanged"
        },
        "transaction[from]": {
        required: "You need to specify who took the money"
        }
      }
    });
  });

%div#form_container
  %p Try to enter something below, like:
  %p "I owe steve $50" or "Steve owes me $20 for pizza"

  %div#text_add_container
    %input{:type => "text", :id => "observe_me", :onkeyup => "javascript:are_you_watching(this)"}
    %div#tick
      = image_tag "tick-icon-small.png"

  - form_for @transaction do |t|
    = hidden_field_tag "transaction[from]"
    = hidden_field_tag "transaction[to]"
    = hidden_field_tag "full_input"
    = t.hidden_field :amount
    = t.hidden_field :description
    = submit_tag
