
%div
  %div#add_transaction_container
    %canvas#add_transaction{:width => "190", :height => "60"}
    %div
      = link_to_function(image_tag("plus-icon-small.png", :border => 0) + " (simple)", "popover()")
    %div
      %a{:href => new_transaction_path}
        = image_tag("plus-icon-small.png", :border => 0)
        (advanced)

  #main_title_and_clip
    %div
      %canvas#bull_clip_main{:width => "70", :height => "68"}
    %div
      %canvas#main_title{:width => "250", :height => "68"}

  %div#friends.rounded
    %h1 Friends
    %table{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %th Name
        %th Cash In
        %th Cash Out
        %th Cash Pending
        %th Email
        %th Controls
      = render :partial => "friend", :collection => @friends
    - if @friends.blank?
      %p
        Awwww, you have no friends!
    = link_to "Create a friend.", new_friend_path

:javascript
  function doOnLoadThings() {
    draw_user_welcome('#{current_user.name}');
    draw_title('#{@title.upcase}');
    load_bull_clip_title();
    draw_left_panel("MANAGE FRIENDS");
  }

