%div#new_friend_container{:class => "new container friend"}
  %h1 Create a new friend!
  - form_for @friend do |f|
    = f.error_messages
    = f.label :name
    = f.text_field :name
    = f.label :email
    = f.text_field :email_address
    = submit_tag
