#main_title_and_clip
  %div
    %canvas#bull_clip_main{:width => "70", :height => "68"}
  %div
    %canvas#main_title{:width => "250", :height => "68"}

#signup
  %h1 Sign up as a new user
  - @account.password = @account.password_confirmation = nil
  = error_messages_for :account
  - form_for :account, :url => accounts_path do |f|
    %div
      %div.label= label_tag 'name'
      %div= text_field_tag "account[name]", "Your Name", :title => "What's your name?", :onfocus => "clearField(\"Your Name\", this);"
    %div
      %div.label= label_tag 'login'
      %div= text_field_tag "account[login]", "Login", :title => "What's your online name?", :onfocus => "clearField(\"Login\", this);"
    %div
      %div.label= label_tag 'email'
      %div= text_field_tag "account[email]", "Your Email", :title => "Your email address", :onfocus => "clearField(\"Your Email\", this);"
    %div
      %div.label= label_tag 'password'
      %div= text_field_tag "account[password]", "Password", :title => "Password", :onfocus => "toggleToPassword(this);"
    %div
      %div.label= label_tag 'password_confirmation'
      %div= text_field_tag "account[password_confirmation]", "Password Confirmation", :title => "Password Confirmation", :onfocus => "toggleToPassword(this);"
      %br
    %div= submit_tag 'Sign up'

:javascript
  function doOnLoadThings() {
    draw_title('#{@title.upcase}'); 
    load_bull_clip_title();
    $('#signup [title]').tipsy({gravity: 'w', trigger: 'focus'});
  }

  function toggleToPassword(field) {
    if (field.type == "text") {
      field.value = "";
    }
    field.type = "password"
    field.focus();
  }

  function clearField(original_text, e) {
    if (e.value == original_text) {
      e.value = "";
    }
  }
