#main_title_and_clip
  %div
    %canvas#bull_clip_main{:width => "70", :height => "68"}
  %div
    %canvas#main_title{:width => "250", :height => "68"}

#signup
  %h1 Sign up as a new user
  - @account.password = @account.password_confirmation = nil
  = error_messages_for :account
  - form_for :account, :url => accounts_path do |f|
    %div
      %div.label= label_tag 'name'
      %div= text_field_tag "account[name]", "Your Name", :title => "What's your name?", :onfocus => "if ($(this).val() == 'Your Name') {$(this).val('');}"
    %div
      %div.label= label_tag 'login'
      %div= text_field_tag "account[login]", "Login", :title => "What's your online name?", :onfocus => "if ($(this).val() == 'Login') {$(this).val('');}"
    %div
      %div.label= label_tag 'email'
      %div= text_field_tag "account[email]", "Your Email", :title => "Your email address", :onfocus => "if ($(this).val() == 'Your Email') {$(this).val('');}"
    %div
      %div.label= label_tag 'password'
      %div#password.password= password_field_tag "account[password]", nil, :title => "Password"
      %div= text_field_tag "mock_password", "Password", :onfocus => "doStuff(this)"
    %div
      %div.label= label_tag 'password_confirmation'
      %div#cpassword.password= password_field_tag "account[password_confirmation]", nil, :title => "Password Confirmation"
      %div= text_field_tag "mock_password_confirmation", "Password Confirmation", :onfocus => "$(this).hide(); $(\"#cpassword\").show();$(\"#account_password_confirmation\").focus();"
    %br
    %div= submit_tag 'Sign up'

:javascript
  $(document).ready(function(){
    $('#signup [title]').tipsy({gravity: 'w', trigger: 'focus'});
  });

  function doStuff(e) {
    $(e).hide();
    $("#password").show();
    $("#account_password").focus();
  }
